.loginpage {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: fantasy;
}
.login {
	max-width: 400px;
	margin: 5% auto;
	text-align: center;
	background-color: rgb(251, 248, 248);
	border: 1px solid rgb(39, 24, 24);
	padding: 10px 50px 30px 30px;
}

.login h1 {
	font-weight: bold;
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login label {
	text-align: left;
	font-size: x-large;
	display: block;
	color: rgb(29, 14, 14);
}
.login input {
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid rgb(173, 144, 144);
	box-sizing: border-box;
	display: block;
}
.login button {
	width: 100%;
	margin-top: 20px;
	background: rgb(73, 76, 97);
	color: white;
	font-size: 1em;
	border: 0;
	padding: 8px;
	border-radius: 3px;
	cursor: pointer;
}
.login button:hover {
	background: rgb(15, 25, 102);
}
.reset-password,
.new-account {
	font-size: large;
}
/* form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
    border-style: solid;
    background-color: rgb(151, 134, 115);
}
form:hover{
    background-color: rgb(108, 86, 60);
    border-style: dotted;
}
form input {
    height: 40px;
    width: 80%;
    margin-left: 45px;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;

}

input::placeholder{
    text-align: center;
    font-weight: bold;
    color: rgb(228, 212, 212);
    font-family:Arial, Helvetica, sans-serif;
}

form input:focus{
    outline: none;
    height: 120px;
}
form label {
    margin-top: 15px;
    padding: 7px;
    font-size: large;
    font-weight: 10;
    color: black;
}
 form  .button {
    margin-top: 40px;
    margin-left: 120px;
    align-items: center;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

form button:hover{
    background-color: #121619;
    color: white;
} */
/* .reset-password{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    color: #121619;
    background-color: rgb(210, 189, 189);

}
.new-account {
    text-align: center;
    justify-content: center;
    font-size: x-large;
    color: #121619;
    background-color: rgb(215, 189, 189);
} */ ;
