

nav{
  background-color: rgb(86, 212, 202);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

}